<head>
  <link rel='stylesheet' href='/css/questions.css'>
</head>

<div id='question-groups' class='bg-main'>
  <div class='title'>
    <h1>7♧</h1>
  </div>

  <div class='question-group-title' data-question-group-id="<%= @question_group.id %>">
    <h6>
      <%= @question_group.title %>
    </h6>
  </div>

  <div class="send-button-group">
    <button id="openButton" class="send-button bg-accent txt-white">
      7♧を送る
    </button>
  </div>

  <div class="hidden bg-base" id="modal">
    <h5 class="txt-black">URL</h5>
    <div id="url" class="txt-black">
    </div>
    <div class="send-button-group">
      <button class="send-button bg-sub txt-white disabled" id="copyButton">
        Copy
      </button>
    </div>
  </div>
  <div class="hidden" id="modal-overlay"></div>

  <div class='questions'>
    <% @question_group.questions.each_with_index do |q, index| %>
      <div class='question'>
        Q<%= index + 1 %>. <%= q.text %>
      </div>
    <% end %>
  </div>
</div>

<script src="/javascripts/modal.js"></script>
<script src="/javascripts/question_room_url_generator.js"></script>

<script>
  let copyButton = document.getElementById('copyButton');
  copyButton.addEventListener('click', function() {
    let urlObj = document.getElementById('url');
    let range = document.createRange();
    range.selectNodeContents(urlObj);
    let selection = window.getSelection();
    selection.removeAllRanges();
    selection.addRange(range);
    document.execCommand("copy");
  })
</script>

<script>
  let modal = document.querySelector('#modal');
  let overlay = document.querySelector('#modal-overlay');
  let buttons = {
    openButton: document.querySelector('#openButton'),
    // closeButton: document.querySelector('#closeButton')
  }
  let modal_obj = new Modal(modal, overlay, buttons);
  modal_obj.setEventListeners();


  let questionGroupId = document.querySelector('.question-group-title').dataset.questionGroupId
  let url = document.querySelector('#url')
  let questionRoom = new QuestionRoomUrlGenerator(url, questionGroupId, buttons.openButton);
  console.log(questionRoom)
  questionRoom.setEventListeners();

</script>