<head>
  <link rel='stylesheet' href='/css/questions.css'>
</head>

<div id='question-groups' class='bg-main'>
  <div class='title'>
    <h1>7♧</h1>
  </div>



  <div class='question-group-title'>
    <h6>
      <%= @question_group.title %>
    </h6>
  </div>


  <div class='questions'>
    <% @question_group.questions.each_with_index do |q, index| %>
      <div class='question'>
        Q<%= index + 1 %>. <%= q.text %>
      </div>
    <% end %>
  </div>

  <div class="send-button-group">
    <button class="send-button bg-accent txt-white">
      7♧を送る
    </button>
  </div>
</div>