#question-groups {
  padding: 20px 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;

  .title {
    color: white;
    text-align: center;
    padding: 20px;
  }

  .question-group {
    margin: 0px auto 15px;
    width: 80%;
    height: 7vh;
    display: flex;
    padding: 0 10px;
    align-items: center;
    font-size: 0.8rem;
  }

  .question-group-title {
    color: white;
    text-align: center;
  }

  .questions {
    max-width: 500px;
    margin: 50px auto;
  }

  .question {
    width: 80%;
    margin: 20px auto;
    color: white;
  }

  .send-button-group {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .send-button {
    margin: 0 auto;
    height: 40px;
    width: 150px;
    font-size: 1.1rem;
    border: none;
    cursor: hover;
  }

  .hidden {
    display: none;
  }

  .button-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  #modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9998;
  }

  #modal {
    width: 90%;
    height: 200px;
    overflow-y: scroll;
    position: relative;
    margin: 0 auto ;
    z-index: 9999;
  }

  #modal {
    h5 {
      padding: 20px;
    }

    #url {
      overflow: scroll;
      padding: 0 5px 10px;
    }

    .send-button-group {
      position: absolute;
      bottom: 35px;
      right: 0;
      left: 0;
    }

    #copyButton {
      margin: 0 auto;
      text-align: center;
    }
  }

  .send-button {
    transition: background-color .5s ease;
    transition: color .5s ease;
  }

  .disabled {
    background-color: #658582;
    pointer-events: none;
    color: #B8C1C5;
    transition: background-color .5s ease;
    transition: color .5s ease;
  }

  // @keyframes animation-modal {
  //   from {
  //     margin-top: 0;
  //   }
  //   to {
  //     margin-top: 5px;
  //   }
  // }

}

