<head>
  <link rel="stylesheet" type="text/css" href="/css/top.css">
</head>

<div id="topPage" class="bg-main">
  <div class="eye-catch">
    <h1>7♧</h1>
    <p>7つの秘密</p>
  </div>

  <div class="start-buttons">
    <a href="/question_groups" class="start-button">はじめる</a>
  </div>
</div>

<!-- <div class="bg-white"></div>
<div class="bg-base"></div>
<div class="bg-main"></div>
<div class="bg-sub"></div>
<div class="bg-accent"></div>
 -->